<component name="libraryTable">
  <library name="Spring" type="spring">
    <CLASSES>
      <root url="jar://D:/Spring源文件/javax.annotation-3.1.2.2.jar/javax.annotation-3.1.2.2.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-aop-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-aspects-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-beans-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-context-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-context-support-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-core-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-expression-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-instrument-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-instrument-tomcat-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-jdbc-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-jms-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-messaging-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-orm-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-oxm-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-test-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-tx-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-web-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-webmvc-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-webmvc-portlet-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/spring-framework-4.3.6.RELEASE-dist/spring-framework-4.3.6.RELEASE/libs/spring-websocket-4.3.6.RELEASE.jar!/" />
      <root url="jar://D:/Spring源文件/第三方依赖包/commons-logging-1.2-bin/commons-logging-1.2/commons-logging-1.2.jar!/" />
      <root url="jar://D:/Spring源文件/aopalliance-1.0.jar!/" />
      <root url="jar://D:/Spring源文件/aspectjweaver-1.8.14.jar!/" />
      <root url="jar://D:/Spring源文件/junit-4.10.jar!/" />
      <root url="jar://D:/Spring源文件/mysql-connector-java-8.0.16.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/mybatis-3.4.6.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/slf4j-api-1.7.25.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/cglib-3.2.5.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/javassist-3.22.0-GA.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/ant-1.9.6.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/log4j-1.2.17.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/ant-launcher-1.9.6.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/log4j-core-2.3.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/asm-5.2.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/log4j-api-2.3.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/ognl-3.1.16.jar!/" />
      <root url="jar://D:/MyBatis源文件/mybatis-3.4.6/mybatis-3.4.6/lib/slf4j-log4j12-1.7.25.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>