<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.yyf.mybatis.associate.oneToOne.mapper.IdCardMapper">
            <select id="findCodeById" parameterType="Integer" resultType="com.yyf.mybatis.associate.oneToOne.POJO.IdCard">
                select * from tb_idcard where id=#{id}
            </select>
        </mapper>